
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6;
	color: #86878b;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


/* Container */

.container {
	width: 100%;
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}


/* Header */
.header {
	background-color: #000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

}


/* Logo */

.logo {
    font-family: 'Raleway', sans-serif;
}

.logo-link {
	text-decoration: none;
}

.logo__left-part {
	text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.logo__right-part {
	text-transform: uppercase;
    font-size: 40px;
    color: #ff8b38;
}

.logo__left-part--intro,
.logo__right-part--intro {
	font-size: 80px;
}


/* Nav */

.nav__link {
	padding-right: 48px;
	text-decoration: none;
	color: #86878b;
	font-weight: 600;
	transition: color .2s linear;
}

.nav__link:last-child {
    padding-right: 0;
}

.nav__link:hover {
	color: #fff;
}

.nav__link:active {
    color: #bdbdbd;
}


/* Intro */

.intro {
	position: relative;
	background-color: #9a9a9a;

}

.intro__inner {
	position: relative;
}

.intro__promo {
	width: 100%;
	max-width: 440px;
	padding: 110px 0 140px 0;
	font-family: 'Raleway', sans-serif;
}

.title {
	font-size: 30px;
	line-height: 1.2;
	color: #fff;
}

.title:after {
	content: "";
	display: block;
	margin: 40px 0;
	width: 66px;
	height: 2px;
	background-color: #fff;
	box-shadow: 0px 3px 5px #787878;
}

.subtitle {
	margin-bottom: 45px;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
}

.button {
	padding: 15px 35px;
	border: 2px solid #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	transition: background-color .2s linear, 
	color .2s linear;
}

.button:hover {
    background-color: #fff;
    color: #9a9a9a;
}

.button:active {
    background-color: #bdbdbd;
}


/* Sign-up */

.sign-up {
	width: 100%;
	max-width: 360px;
	position: absolute;
	top: 140px;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 0px 10px #787878;
}

.sign-up__title {
	width: 100%;
	margin: 0;
	padding: 20px 55px;
	background-color: #f5f5f5;
	font-weight: 700;
	font-size: 18px;
	color: #000;
}

.sign-up__title-text {
	color: #ff9b51;
}

.sign-up__input {
	width: 100%;
	max-width: 287px;
	margin: 35px 40px 0;
	padding: 10px 15px;
	border: 0;
	border-bottom: 1px solid #dedede;
	color: #000;
}

.sign-up__input::placeholder {
    color: #dedede;
}

.sign-up__input:focus {
	outline: 0;
	border-color: #000;
}

.sign-up__button {
	display: block;
	margin-top: 35px;
	padding: 22px 0;
	background-color: #ff9b51;
	text-align: center;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
	transition: background-color .2s linear;
	cursor: pointer;
}

.sign-up__button:hover {
	background-color: #ff970f;
}

.sign-up__button:active {
	background-color: #f5770a;
}


/* Social */
.social {
    padding: 24px 0;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.social__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social__description {
    width: 100%;
    max-width: 320px;

}

.social__title {
	font-size: 20px;
	font-weight: 700;
	color: #000;
}

.social__subtitle {
	font-size: 13px;
	font-weight: 300;
	color: #9a9a9a;
}

.social__items {
	display: flex;
	justify-content: space-between;
}

.social__link {
	text-decoration: none;
	color: #cccccc;
	transition: color .2s linear;
}

.social__link:hover {
    color: #86878b;
}

.social__link:active {
    color: #cccccc;
}

.social__item {
	margin-left: 63px;
	font-size: 40px;
}

.social__item:first-child {
	margin-left: 0;
}


/* Tabs */

.tabs {
	padding-top: 145px;
	padding-bottom: 115px;
	background-color: #f5f5f5;
}

.tabs__inner {
	position: relative;
	display: flex;
}

.slider {
	margin-right: 100px;
}

.slider__item {
	padding:45px 34px;
	background-color: #333333;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 700;
	color: #fff;
	border-bottom: 1px solid #b7b7b7;
	cursor: pointer;
	transition: background-color .2s linear;
}

.slider__item:hover {
    background-color: #ff8b38;
}

.slider__item:active {
	background-color: #f5770a;
}

.slider__item:first-child {
	border-radius: 5px 5px 0 0;
}

.slider__item:last-child {
	border-radius: 0 0 5px 5px;
}

.slider__content {
	width: 100%;
	max-width: 425px;
}

.slider__content__title {
	margin-bottom: 60px;
	font-size: 20px;
    color: #000;
}

.slider__content__text {
	margin-bottom: 50px;
	font-size: 13px;
}

.button--orange {
	border: 0;
	border-radius: 5px;
    background-color: #ff8b38;
    box-shadow: 0 3px 3px -3px #787878;
}

.button--orange:hover {
	color: #fff;
	background-color: #f5770a;
}

.button--orange:active {
	background-color: #bd5e0b;
}

.slider__img {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}