
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6;
	color: #86878b;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


/* Container */

.container {
	width: 100%;
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}



/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;

}

.modal__content {
	position: relative;
	width: 100%;
	max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    max-height: 80vh;
	overflow-y: auto;
	text-align: center;
	font-weight: bold;
	color: black;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

@keyframes fade {
	from {
		opacity:0.1;
	}
	to {
		opacity:1;
	}
}

/* Status message */

.message {
	display: block;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: rgb(57, 61, 65);
}

/* Header */
.header {
	background-color: #000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

}


/* Logo */

.logo {
    font-family: 'Raleway', sans-serif;
}

.logo__link {
	text-decoration: none;
}

.logo__left-part {
	text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.logo__right-part {
	text-transform: uppercase;
    font-size: 40px;
    color: #ff8b38;
}

.logo__left-part--intro,
.logo__right-part--intro {
	font-size: 80px;
}


/* Nav */

.nav__link {
	padding-right: 48px;
	text-decoration: none;
	color: #86878b;
	font-weight: 600;
	transition: color .2s linear;
}

.nav__link:last-child {
    padding-right: 0;
}

.nav__link:hover {
	color: #fff;
}

.nav__link:active {
    color: #bdbdbd;
}


/* Intro */

.intro {
	position: relative;
	background-color: #9a9a9a;
	padding: 110px 0 140px 0;
}

.intro__inner {
	position: relative;
}

.intro__promo {
	width: 100%;
	max-width: 440px;
	font-family: 'Raleway', sans-serif;
}

.title {
	font-size: 30px;
	line-height: 1.2;
	color: #fff;
}

.title:after {
	content: "";
	display: block;
	margin: 40px 0;
	width: 66px;
	height: 2px;
	background-color: #fff;
	box-shadow: 0px 3px 5px #787878;
}

.subtitle {
	margin-bottom: 45px;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
}

.button {
	padding: 15px 35px;
	border: 2px solid #fff;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	transition: background-color .2s linear, 
	color .2s linear;
}

.button:hover {
    background-color: #fff;
    color: #9a9a9a;
}

.button:active {
    background-color: #bdbdbd;
}


/* Sign-up */

.sign-up {
	width: 100%;
	max-width: 360px;
	position: absolute;
	top: 60px;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 0px 10px #787878;
}

.sign-up__title {
	width: 100%;
	margin: 0;
	padding: 20px 55px;
	background-color: #f5f5f5;
	font-weight: 700;
	font-size: 18px;
	color: #000;
}

.sign-up__title-text {
	color: #ff9b51;
}

.sign-up__input {
	width: 100%;
	max-width: 287px;
	margin: 35px 40px 0;
	padding: 10px 15px;
	border: 0;
	border-bottom: 1px solid #dedede;
	color: #000;
}

.sign-up__input::placeholder {
    color: #dedede;
}

.sign-up__input:focus {
	outline: 0;
	border-color: #000;
}

.sign-up__button {
	display: block;
	width: 100%;
	margin-top: 35px;
	padding: 22px 0;
	background-color: #ff9b51;
	border: 0;
	text-align: center;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
	transition: background-color .2s linear;
	cursor: pointer;
}

.sign-up__button:hover {
	background-color: #ff970f;
	border: 0;
}

.sign-up__button:focus {
    outline: 0;
}

.sign-up__button:active {
	border: 0;
	background-color: #f5770a;
}


/* Social */

.social {
    padding: 24px 0;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.social__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social__description {
    width: 100%;
    max-width: 320px;

}

.social__title {
	font-size: 20px;
	font-weight: 700;
	color: #000;
}

.social__subtitle {
	font-size: 13px;
	font-weight: 300;
	color: #9a9a9a;
}

.social__items {
	display: flex;
	justify-content: space-between;
}

.social__link {
	text-decoration: none;
	color: #cccccc;
	transition: color .2s linear;
}

.social__link:hover {
    color: #86878b;
}

.social__link:active {
    color: #cccccc;
}

.social__item {
	margin-left: 63px;
	font-size: 40px;
}

.social__item:first-child {
	margin-left: 0;
}


/* Section */

.section {
	padding-top: 110px;
	padding-bottom: 115px;
}

.section--gray {
    background-color: #f5f5f5;
}

.section--darkgray {
    background-color: #9a9a9a;
    padding: 75px 0;

}


/* Tabs */

.tabs {
	padding: 110px 0;
}

.tabs__inner {
	position: relative;
	display: flex;
}

.slider {
	margin-right: 100px;
}

.slider__item {
	padding:45px 34px;
	background-color: #333333;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 700;
	color: #fff;
	border-bottom: 1px solid #b7b7b7;
	cursor: pointer;
	transition: background-color .2s linear;
}

.slider__item-active {
	background-color: #f5770a;
}

.slider__item:hover {
    background-color: #ff8b38;
}

.slider__item:active {
	background-color: #f5770a;
}

.slider__item:first-child {
	border-radius: 5px 5px 0 0;
}

.slider__item:last-child {
	border-radius: 0 0 5px 5px;
}

.slider__content {
	width: 100%;
	max-width: 425px;
}

.slider__content__title {
	margin-bottom: 60px;
	font-size: 20px;
    color: #000;
}

.slider__content__text {
	margin-bottom: 50px;
	font-size: 13px;
}

.button--orange {
	border: 0;
	border-radius: 5px;
    background-color: #ff8b38;
    box-shadow: 0 3px 3px -3px #787878;
}

.button--orange:hover {
	color: #fff;
	background-color: #f5770a;
}

.button--orange:active {
	background-color: #bd5e0b;
}

.slider__img {
	position: absolute;
	width: 100%;
	max-width: 320px;
	height: auto;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}


/* Sublist */

.sublist {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.sublist__picture {
	margin-left: 10px;
	width: 100%;
	max-width: 450px;
	height: auto;
	box-shadow: 5px 10px 20px #787878;
}

.sublist__description {
	margin-right: 40px;
	width: 100%;
	max-width: 415px;
}

.sublist__header {
	font-size: 18px;
	font-weight: 700;
	color: #000;
}

.sublist__header:after {
	content: "";
	display: block;
	margin-top: 28px;
	margin-bottom: 32px;
	width: 65px;
	height: 2px;
	background-color: #ff8b38;
}

.sublist__subtitle {
	margin-bottom: 50px;
}

.sublist__item {
	position: relative;
	margin-left: 70px;
	margin-bottom: 42px;
}

.sublist__item:last-child {
	margin-bottom: 0;
}

.sublist__img {
	position: absolute;
	top: 0;
	left: -70px;
}

.sublist__title {
	font-weight: 700;
	color: #333;
}


/* Picture */

.picture {
	background-color: #f5f5f5;
}

.picture__inner {
	display: flex;
	justify-content: space-between;
	padding-top: 108px;
	padding-bottom: 130px;
}

.picture__description {
	margin-top: 20px;
    margin-left: 10px;
    width: 100%;
	max-width: 430px;
}

.picture__title {
	font-size: 18px;
	font-weight: 700;
	color: #000;
}

.picture__title:after {
	content: "";
	display: block;
	margin-top: 28px;
	margin-bottom: 30px;
	width: 65px;
	height: 2px;
	background-color: #ff8b38;
}

.picture__subtitle {
	font-size: 13px;
}

.picture__img {
	display: block;
	width: 100%;
	max-width: 450px;
	height: auto;
	box-shadow: 5px 10px 20px #787878;
}


/* Features */

.section__header {
	margin-bottom: 80px;
}

.section__title {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 400;
	color: #333;
}

.section__title:after {
	content: "";
	display: block;
	margin: 30px auto;
	width: 65px;
	height: 2px;
	background-color: #ff8b38;
}

.section_subtitle {
    text-align: center;
    font-weight: 400;
}

.features {
    display: flex;
    justify-content: space-between;
}

.features__item {
	margin-right: 48px;
}

.features__item:last-child {
	margin-right: 0;
}

.features__img {
	display: block;
	margin: 0 auto 30px;
}

.features__title {
	margin-bottom: 30px;
    text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #000;
}

.features__subtitle {
	text-align: center;
}


/* Price */

.price {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
}

.price__item {
	margin-bottom: 10px;
	width: 100%;
	max-width: 345px;
	text-align: center;
}

.price__title {
	padding: 23px 0;
	background-color: #333333;
	font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.price__cost {
	font-family: 'Raleway', sans-serif;
	background-color: #333333;
}

.price__currency {
	font-size: 40px;
	color: #fff;
}

.price__number {
	font-size: 100px;
	color: #fff;
	font-weight: 700;
	line-height: 1.2;
}

.price__text {
	padding-bottom: 10px;
	font-size: 14px;
	font-style: italic;
	font-weight: 700;
}

.price__popular {
	padding: 3px 0;
	background-color: #ff8b38;
}

.price__popular--relevant {
	padding: 10px 0;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.price__specification {
	padding: 10px 0;
	background-color: #fff;
	border-bottom: 1px solid #f5f5f5;
	text-transform: uppercase;
}


/* Reviews */

.reviews {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.reviews__item {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	max-width: 275px;
}

.reviews__text {
	margin-bottom: 45px;
	padding: 15px 10px;
	font-style: italic;
	line-height: 1.4;
	background-color: #f5f5f5;
	border-radius: 5px;
}

.reviews__text:after {
	position: absolute;
	content: "";
	display: block;
	width: 0; 
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 45px solid #f5f5f5;
	bottom: 70px;
	left: 10px;
}

.reviews__img {
	position: absolute;
	width: 73px;
	height: 73px;
	bottom: -15px;
	left: 0;
	border-radius: 50%;
}

.reviews__author {
	margin-left: 88px;
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

.reviews__profession {
	margin-left: 88px;
}


/* Design */

.design {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 300;
}

.section__header--design .section__title {
	color: #fff;
}

.section__header--design .section__title:after {
	background-color: #fff;
	box-shadow: 0px 3px 5px #787878;
}

.section__header--design .section_subtitle {
	color: #c2c2c2;
}


/* Contact */

.contact {
	position: relative;
	text-align: center;
}

.contact__form {
	display: flex;
	justify-content: space-between;
    margin-bottom: 55px;
    
}

.left__col {
	margin-right: 65px;
}

.contact__input {
	padding: 0;
	padding-top: 40px;
	padding-bottom: 10px;
	width: 100%;
	max-width: 530px;
	border: 0;
	border-bottom: 1px solid #bdbdbd;
}

.contact__message {
	padding: 0;
	padding-top: 36px;
	resize: none;
	width: 100%;
	max-width: 530px;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	border: 0;
	border-bottom: 1px solid #bdbdbd;
}

.contact__input::placeholder,
.contact__message::placeholder {
    color: #dedede;
}

.contact__input:focus,
.contact__message:focus {
	outline: 0;
	border-color: #000;
}

.contact__button {
	padding: 15px 35px;
	position: absolute;
	left: 50%;
	bottom: -50%;
	transform: translateX(-50%);
	border: 0;
	border-radius: 5px;
    background-color: #ff8b38;
    box-shadow: 0 3px 3px -3px #787878;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	transition: background-color .2s linear, 
	color .2s linear;
	cursor: pointer;
}

.contact__button:hover {
	color: #fff;
	background-color: #f5770a;
}

.contact__button:active {
	background-color: #bd5e0b;
}

.contact__button:focus {
    outline: 0;
	border-color: #000;
}


/* Footer */

.footer {
	padding: 20px 0;
	background-color: #000;
}

.footer__social {
	display: flex;
	justify-content: center;
}

.footer__social-item {
    margin-right: 32px;
    font-size: 20px;
}

.footer__social-item:last-child {
    margin-right: 0;
}

.footer__social-item:hover {
    color: #86878b;
}

.footer__social-item:active {
    color: #cccccc;
}

.copyrights {
	text-align: center;
	font-size: 13px;
}




@media (max-width: 990px) {


	/* Intro */

    .intro {
    	padding: 50px 0;
    }

	.intro__promo {
		padding: 0;
		margin: 0 auto;
		text-align: center;
	}
	
    .title:after {
    	margin: 40px auto;
    }

    .sign-up {
    	position: static;
        margin: 40px auto 0;
    }


    /* Social */

    .social__inner {
    	display: block;
    }

    .social__description {
    	margin: 0 auto;
    	text-align: center;
    }

    .social__item {
    	margin-top: 10px;
    }

    .social__item {
    	margin-left: 20px;
    }


    /* Section */

    .section {
    	padding: 50px 0;
    }


    /* Tabs */

	.tabs {
		padding: 50px 0;
	}

    .tabs__inner {
    	justify-content: center;
    	align-items: center;
    }

    .slider__img {
    	position: static;
    	transform: translateY(0);
    }


    /* Sublist */

	.sublist {
		justify-content: center;
	}

	.sublist__picture {
		margin: 0 auto 20px;
	}

	.sublist__header {
		text-align: center;
	}

	.sublist__header:after {
		margin: 30px auto;
	}


	/* Picture */

	.picture__inner {
		display: block;
		padding: 50px 0;
	}

	.picture__description {
		margin: 0 auto;
		text-align: center;
	}

	.picture__title:after {
		margin: 15px auto;
	}

	.picture__img {
		display: block;
		margin: 0 auto;
	}


	/* Price */

	.price__number {
		font-size: 70px;
	}

	/* Reviews */

	.reviews {
		justify-content: space-around;
	}

	/* Contact */

	.contact__form {
		margin-bottom: 75px;
	}


}


@media (max-width: 750px) {


	/* Nav */

    .nav__link {
    	padding-right: 20px;
    }
}

@media (max-width: 575px) {


	/* Nav */

    .nav {
    	display: none;
    }


    /* Intro */

    .intro {
    	padding: 25px 0;
    }

    .sign-up__input {

    }


    /* Social */

    .social__item {
    	font-size: 25px;
    }


    /* Tabs */

    .section__title {
    	font-size: 25px;
    }

    .section__title:after {
    	margin: 20px auto;
    }

    .slider {
    	margin-right: 50px;
    }

    .slider__content__title {
    	margin-bottom: 20px;
    }


    /* Sublist */

	.sublist__header:after {
		margin: 15px auto;
	}

	.sublist__item {
		margin-bottom: 20px;
	}

	.sublist__subtitle {
		margin-bottom: 20px;
	}


	/* Features */

	.section__header {
		margin-bottom: 40px;
	}

	.features {
		display: block;
	}

	.features__item {
		margin: 0 auto;
	}

	.features__img {
		margin-bottom: 15px;
	}

	.features__title {
		margin-bottom: 15px;
	}

@media (max-width: 400px) {


    /* Intro */

    .sign-up__input {
    	margin: 0;
    	margin-top: 20px;
    }


    /* Tabs */

    .slider__item {
    	padding: 30px 24px;
    }

    /* Footer */

    .footer__social-item {
    	margin-right: 20px;
    }

}